agno
python-dotenv
openai
groq
pypdf
arxiv
ddgs
googlesearch-python
pycountry
newspaper4k 
lxml_html_clean
wikipedia
tweepy
youtube_transcript_api
praw
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
fastapi[standard]
uvicorn
newspaper4k[nlp]